/* Style général de la modale */
.modal {
    display: none; /* Caché par défaut */
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Défilement si le contenu est trop grand */
}


/* Contenu de la modale */
.modal-content {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
    margin: 10% auto;
    padding: 15px;
    border-radius: 8px; /* Coins arrondis pour un style plus doux */
    border: none; /* Pas de bordure pour un design épuré */
    width: 70%; /* Largeur légèrement réduite */
    color: black; /* Couleur du texte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Légère ombre pour détacher la modale du fond */
    backdrop-filter: blur(5px); /* Applique un flou à l'arrière-plan */
    text-align: center;
}

/* Bouton pour fermer */
.close {
    color: #888;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* 
POUR LES IMAGE */

.image-container {
    width: 100%;
    max-width: 600px; /* Taille maximale de l'image */
    height: auto;
    margin: auto;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto; /* Assure que l'image garde son ratio d'aspect */
    display: block;
    margin: auto;
}

/* BOUTON */

 /* Texte principal centré */
 .modal-content h2 {
    font-size: 16px; /* Réduction de la taille du texte */
    margin-bottom: 15px; /* Réduction de l'espacement en bas du texte */
    text-align: center; /* Centre le texte */
}

/* Boutons */
.modal-buttons {
    display: flex;
    justify-content: center; /* Centre les boutons */
    gap: 15px; /* Espace entre les boutons */
}

.modal-buttons a {
    padding: 10px 25px; /* Ajustement des dimensions des boutons */
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Ajustement de la taille du texte dans les boutons */
}

.modal-buttons a:hover {
    background-color: #0056b3;
}

.modal-buttons .no {
    background-color: #dc3545;
}

.modal-buttons .no:hover {
    background-color: #c82333;
}
